body {
    display: block;
    margin: 8px;
    background: #202124;
}

html, body {
    min-width: 400px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #bdc1c6;
}

a{
    display: inline-block;
    margin: 0px 0px 0px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}