* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1900px;
    margin: 40px 0;
}

body .container .card {
    position: relative;
    margin: 30px;
    min-width: 550px;
    height: 450px;
    background: #2d2d30;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}


body .container .card .content {
    padding: 20px;
    text-align: left;
    max-width: 485px;
    max-height: 400px;
}

body .container .card .content .about-course {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

body .container .card .content img {
    top: 10px;
    left: 10px;
    position: absolute;
    width: 60px;
    height: 50px;
}

body .container .card .description {
    position: absolute;
    top: 80px;
    word-break: break-word;
    left: 15px;
    max-width: 485px;
    font-size: 5rem;
}

body .container .card .content h3 {
    word-break: break-word;
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 1.4rem;
    color: #ffffff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
    max-width: 400px;
}

body .container .card .content p {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

body .container .card .content a {
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-right: 10px;
    transition: 0.5s;
    background: #858484;
}

body .container .card .content .enter{
    background: #C3073F;
}

body .container .card .content a:hover {
    background: #ffffff;
    color: #000;
}