h1, h2, h3, p{
    color: #ffffff;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.naming{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.naming .logo{
    max-width: 400px;
    margin: 0px 30px 0px;
}

.naming .logo img{
    width: 12rem;
    height: 12rem;
    border-radius: 10rem;
    border: 3px solid #C3073F;
}

.brief-information .name hr{
    border: 1px solid transparent;
    border-image: linear-gradient(0.25turn, #C3073F 65%, #fff);
    border-image-slice: 1;
}

.naming .brief-information{
    height: 10rem;
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px;
}

.naming .brief-information .short-description{
    height: 7rem;
    max-width: 40rem;
}

.activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 70px 0px;
}

.activity .logo img{
    width: 6rem;
    height: 6rem;
    margin-right: 10px;
}

.activity h1{
    font-size: 1.5rem;
}

.description{
    margin: 20px 70px 0px;
    max-width: 80rem;
}

.description p{
    text-indent: 30px
}

.schedule{
    margin: 20px 70px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.schedule h2{
    margin-right: 10px;
}

.schedule .cards{
    align-items: flex-start;
    justify-content: center;
    min-width: 500px;
    min-height: 90px;
    background: #c3073f71;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.schedule .day-card{
    margin: 0px 5px 0px;
}

.schedule .day-card .card{
    min-width: 60px;
    min-height: 60px;
    background: #C3073F;
}

.intelligence{
    margin: 20px 70px 0px;
}

.type-of-study{
    margin: 10px 70px 0px;
}

.intelligence h3, .type-of-study h3{
    display: inline;
}

.intelligence .with-text-decoration,
.type-of-study .with-text-decoration{
    text-decoration: none;
    background-image: linear-gradient(0.25turn, #C3073F 65%, #fff);
    background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 2px;
}