*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

body{
    background: linear-gradient(#ffffff, #919494);
}

main{
    min-height: 100vh;
    display: block;
}

header{
    position: sticky;
    /* -webkit-mask: linear-gradient(black 7rem, transparent); */
    backdrop-filter: blur(8px);
    /* background: #ffffff; */
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

header .logo{
    color: #000000;
    padding: 50px 100px;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    color: #000;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

header ul li a:hover{
    background: #000;
    color: #fff;
}

footer{
    display: block;
    width: 100%;
    height: 10em;
    padding: 2em 3em;
    background: #919494;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #FFF;
    color: #efefef;
    align-items: flex-start;
    justify-content: center;
}

footer div{
    text-align: center;
}

.col-1{
    height: 7em;
}

.col-1 h2{
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
}

footer div h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 20px;
}

form a{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

form a:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    background: #f1ecec;
    color: #000;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}