<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="/" class="logo">
            LMS
        </a>
        <ul>
            <li><a href="/catalog">Каталог курсов</a></li>
            <li><a href="/">О нас</a></li>
            <li><a href="/">Контакты</a></li>
            <li><a href="/">Войти в LMS</a></li>
        </ul>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="col-1">
            <h3>ОБРАТНАЯ СВЯЗЬ</h3>
            <form>
                <button type="submit">СВЯЖИТЕСЬ С НАМИ</button>
            </form>
        </div>
    </footer>
</body>
</html>