{% extends "base.html" %}
{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('landing.static', filename='course-info.css') }}">
{% endblock %}
{% block content %}
    <div class="naming">
        <div class="logo">
            <img src="{{ url_for('landing.static', filename='proton-round.png') }}">
        </div>
        <div class="brief-information">
            <div class="name">
                <h1>
                    Лицей Академии Яндекса
                </h1>
                <br>
            </div>
            <div class="short-description">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/4645/4645241.png">
        </div>
        <div class="name-of-activity">
            <h1>
                Техническая направленность
            </h1>
        </div>
    </div>
    <div class="description">

    </div>
    <div class="intelligence">

    </div>
    <div class="schedule">

    </div>
    <div class="teacher">

    </div>
{% endblock %}