{% extends "base.html" %}
{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('landing.static', filename='course-info.css') }}">
{% endblock %}
{% block content %}
    <div class="naming">
        <div class="logo">
            <img src="https://fikiwiki.com/uploads/posts/2022-02/1645050608_51-fikiwiki-com-p-les-krasivie-kartinki-57.jpg">
        </div>
        <div class="brief-information">

        </div>
    </div>
    <div class="description">

    </div>
    <div class="intelligence">

    </div>
    <div class="schedule">

    </div>
    <div class="teacher">

    </div>
{% endblock %}